@import "~Utilities/variables";

.supply-center {
  margin-left: $p + px;
  padding: $p + px;
  border: 1px solid currentColor;
  transition: all .1s linear;
  border-radius: $p + px;

  .type {
    text-transform: uppercase;
  }
}
