@import "../../utils/variables";

.orders {
  position: fixed;
  padding: $p + px;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .8);

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    &:not(:last-child) {
      margin-bottom: $p + px;
    }
  }
}
