@import "~Utilities/variables";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.app {
  font-family: $sans-stack;
  color: $base;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.button {
  display: inline-block;
  min-width: $p*12 + px;
  padding: $p + px;
  background: white;
  border: 1px solid $base;
  outline: none;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
}

h1 {
  margin: 0 auto $p*2+px;
}
