@import "../../utils/variables";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.app {
  font-family: $sans-stack;
  min-height: 100vh;
  overflow-x: hidden;
}

.button {
  display: inline-block;
  min-width: $p*12 + px;
  padding: $p + px;
  background: white;
  border: 1px solid black;
  outline: none;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
}
