@import "../utils/variables";

.tooltip {
  position: fixed;
  padding: $p + px;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, .8);
  pointer-events: none;

  .key {
    font-weight: bold;
    margin-right: $p/2 + px;
  }
}
