// fonts
$sans-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen-Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// colors
$primary-color: gray;

$sea-color: skyblue;
$land-color: tan;
$coast-color: skyblue;

$player-1-color: blue; // England
$player-2-color: cyan; // France
$player-3-color: gray; // Germany
$player-4-color: red; // Austria-Hungary
$player-5-color: lime; // Italy
$player-6-color: green; // Russia
$player-7-color: yellow; // Turkey

// sizes
$p: 16;
