// fonts
$sans-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen-Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// colors
$gray: lightslategray;

$sea-color: powderblue;
$land-color: papayaWhip;

$nation-colors:
  red // England
  blue // France
  darkslategray // Germany
  sienna // Austria-Hungary
  green // Italy
  darkviolet // Russia
  darkorange // Turkey
;

// sizes
$p: 16;

// mixins
@mixin controlledByColor($from: 1, $to: 8){
  @for $i from $from to $to {
    &[data-controlled-by="#{$i}"] {
      color: nth($nation-colors, $i);
    }
  }
}

@mixin controlledByFill($from: 1, $to: 8){
  @for $i from $from to $to {
    &[data-controlled-by="#{$i}"] {
      fill: nth($nation-colors, $i);

      &:hover {
        fill: darken(nth($nation-colors, $i), 10%);
      }
    }
  }
}
