@import "~Utilities/variables";

.map svg {
  display: block;
}

.territory {
  &[data-type=sea] {
    fill: $sea-color;
  }
  
  &[data-type=land] {
    fill: $land-color;
  }

  stroke-width: 1px;
  stroke: white;

  &:hover {
    fill: red;
  }
}
