@import "~Utilities/variables";

.map svg {
  display: block;
}

.territory {
  cursor: pointer;
  stroke-width: 1px;
  stroke: white;

  &[data-type=sea] {
    fill: $sea-color;

    &:hover {
      fill: darken($sea-color, 10%);
    }
  }
  
  &[data-type=land] {
    fill: $land-color;

    &:hover {
      fill: darken($land-color, 10%);
    }
  }

  @include controlledByFill();
}
