@import "~Utilities/variables";

.game-header {
  position: fixed;
  z-index: 999;
  background: rgba($gray, .5);
  padding: $p + px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: $p + px;
  top: 0;
  width: 100vw;

  h1 {
    color: white;
    margin: 0;
    font-size: 2rem;
    line-height: 2rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
