@import "../../utils/variables";

.game-header {
  background: $primary-color;
  padding: $p + px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: $p + px;

  h1 {
    color: white;
    margin: 0;
    font-size: 2rem;
    line-height: 2rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
