@import "../../utils/variables";

.piece {
  margin-left: $p + px;
  padding: $p + px;
  border: 1px solid currentColor;
  transition: all .1s linear;

  .type {
    text-transform: uppercase;
  }

  @include controlledByColors();
}

.territory.selected .piece {
  color: black;
  background: lawngreen;
}
